<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
  </head>
  <body>
    <h2>404 Not Found!!</h2>
    <p>請回前一頁</p>
    <a href="/">回首頁</a>
    <img src="pic/404Page.png" />
  </body>
</html>
